/* General Styles */
body {
    background-image: url('/static/images/banner.png');
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

/* Header Styles */
.welcome-text {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Canva Sans';
    color: rgb(252, 250, 250);
    margin-top: 15px;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.campus-connect {
    font-weight: bold;
    font-size: 30px;
    color: rgb(252, 250, 250);
    margin-top: 10px;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

/* Navigation Styles */
.navbar {
    background-color: rgb(25, 23, 23);
}

.navbar .nav-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    white-space: nowrap;
    overflow: hidden;
}

.navbar .nav-link {
    text-decoration: none;
    color: white;
    font-family: 'Canva Sans', sans-serif;
    font-weight: bold;
    font-size: 1.0rem;
    transition: color 0.3s, font-size 0.3s;
    display: flex;
    align-items: center;
    max-width: 80%;
}

.navbar .nav-link i {
    margin-right: 0.5rem;
}

.navbar .nav-link:hover {
    color: rgb(107, 147, 205);
    font-size: 1.2rem;
}

.content {
    background-color: rgb(251, 245, 245);
    width: 100%;
    /* overflow: hidden; */
}

.content-navbar {
    background-color: #c5d1dd;
    color: white;
    padding: 10px;
    height: 2.5rem;
    border: 1px solid black;
    font-weight: bold;
}

.content-text {
    color: rgb(25, 23, 23);
}

.main-content {
    overflow-y: auto;
    flex-grow: 1;
    padding: 20px;
    margin: 10px;
}

/* Sponsored Ads Styles */
.sponsored-ads {
    background-color: rgb(235, 214, 214);
    text-align: center;
    width: 200px;
    position: fixed;
    bottom: 0;
    right: 0;
    height: calc(100% - 95px);
    border: 1.5px solid black;
    padding: 10px;
    animation: moveAds 3s forwards; /* Adjust the duration as needed */
}

@keyframes moveAds {
    from {
        left: 0;
    }

    to {
        left: calc(100% - 200px); /* Adjust the width of the ads box */
    }
}

.sponsored-ads h4 {
    margin-bottom: 10px;
}

.sponsored-ads ul {
    list-style: none;
    padding-left: 0;
}

.sponsored-ads li {
    font-size: 10px;
    margin: 0;
}