/* Common styles for all screen sizes */

.edit-profile-photo:hover i {
    color: blue;
}

.welcome-text-container {
    padding: 20px;
}

.following-followers {
    margin-top: 20px;
}

.following, .followers {
    margin-right: 20px;
}

.profile-picture-small {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 10px;
}

ul.list-unstyled {
    list-style: none;
    padding-left: 0;
}

.media {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.media-body {
    flex: 1;
}

.media:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
    .content {
        width: 100%; /* Adjust width for smaller screens */
        position: relative; /* Change to relative positioning */
        left: 0; /* Reset left positioning */
        margin: 0; /* Reset margin */
        overflow-y: auto;
    }

    .row {
        flex-direction: column; /* Stack columns in smaller screens */
    }

    .col-md-4,
    .col-md-8 {
        width: 100%; /* Full width for smaller screens */
    }

    .profile-photo {
        text-align: center;
    }

    .profile-photo-container img {
        max-width: 100%; /* Make profile photo responsive */
        height: auto; /* Maintain aspect ratio */
    }

    .content .card {
        width: 100%; /* Full width for smaller screens */
    }
}